BookStoreService2.0.wsdl

<wsdl:definitions
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://mybookstore.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mybookstore.com/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://mybookstore.com/">
			<s:element name="GetAllBooks">
				<s:complexType/>
			</s:element>
			<s:element name="GetAllBooksResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetAllBooksResult" type="tns:ArrayOfBook"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfBook">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="Book">
				<s:complexContent mixed="false">
					<s:extension base="tns:BaseEntity">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Author" type="tns:ArrayOfAuthor"/>
							<s:element minOccurs="1" maxOccurs="1" name="BookType" type="tns:BookTypeEnum"/>
							<s:element minOccurs="0" maxOccurs="1" name="Category" type="tns:Category"/>
							<s:element minOccurs="1" maxOccurs="1" name="Edition" type="s:int"/>
							<s:element minOccurs="1" maxOccurs="1" name="ISBN" type="s:int"/>
							<s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string"/>
							<s:element minOccurs="1" maxOccurs="1" name="Name" type="s:int"/>
							<s:element minOccurs="0" maxOccurs="1" name="Publisher" type="tns:Publisher"/>
							<s:element minOccurs="1" maxOccurs="1" name="Size" type="tns:SizeEnum"/>
							<s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int"/>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="BaseEntity">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="Publisher">
				<s:complexContent mixed="false">
					<s:extension base="tns:BaseEntity">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="Category">
				<s:complexContent mixed="false">
					<s:extension base="tns:BaseEntity">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="Author">
				<s:complexContent mixed="false">
					<s:extension base="tns:BaseEntity">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
							<s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfAuthor">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Author" nillable="true" type="tns:Author"/>
				</s:sequence>
			</s:complexType>
			<s:simpleType name="BookTypeEnum">
				<s:restriction base="s:string">
					<s:enumeration value="HardCover"/>
					<s:enumeration value="PaperBack"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="SizeEnum">
				<s:restriction base="s:string">
					<s:enumeration value="VeryLarge"/>
					<s:enumeration value="Large"/>
					<s:enumeration value="Medium"/>
					<s:enumeration value="Small"/>
					<s:enumeration value="VerySmall"/>
				</s:restriction>
			</s:simpleType>
			<s:element name="GetBook">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="bookId" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetBookResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetBookResult" type="tns:Book"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetBookByName">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="bookName" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetBookByNameResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetBookByNameResult" type="tns:ArrayOfBook"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetBookByPublisher">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="publisherName" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetBookByPublisherResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetBookByPublisherResult" type="tns:ArrayOfBook"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetBookByAuthor">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="authorName" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetBookByAuthorResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetBookByAuthorResult" type="tns:ArrayOfBook"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CreateBook">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="book" type="tns:Book"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CreateBookResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="CreateBookResult" type="tns:Book"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="UpdateBook">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="book" type="tns:Book"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="UpdateBookResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="UpdateBookResult" type="tns:Book"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="DeleteBook">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="bookId" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="DeleteBookResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="DeleteBookResult" type="tns:Book"/>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetAllBooksSoapIn">
		<wsdl:part name="parameters" element="tns:GetAllBooks"/>
	</wsdl:message>
	<wsdl:message name="GetAllBooksSoapOut">
		<wsdl:part name="parameters" element="tns:GetAllBooksResponse"/>
	</wsdl:message>
	<wsdl:message name="GetBookSoapIn">
		<wsdl:part name="parameters" element="tns:GetBook"/>
	</wsdl:message>
	<wsdl:message name="GetBookSoapOut">
		<wsdl:part name="parameters" element="tns:GetBookResponse"/>
	</wsdl:message>
	<wsdl:message name="GetBookByNameSoapIn">
		<wsdl:part name="parameters" element="tns:GetBookByName"/>
	</wsdl:message>
	<wsdl:message name="GetBookByNameSoapOut">
		<wsdl:part name="parameters" element="tns:GetBookByNameResponse"/>
	</wsdl:message>
	<wsdl:message name="GetBookByPublisherSoapIn">
		<wsdl:part name="parameters" element="tns:GetBookByPublisher"/>
	</wsdl:message>
	<wsdl:message name="GetBookByPublisherSoapOut">
		<wsdl:part name="parameters" element="tns:GetBookByPublisherResponse"/>
	</wsdl:message>
	<wsdl:message name="GetBookByAuthorSoapIn">
		<wsdl:part name="parameters" element="tns:GetBookByAuthor"/>
	</wsdl:message>
	<wsdl:message name="GetBookByAuthorSoapOut">
		<wsdl:part name="parameters" element="tns:GetBookByAuthorResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateBookSoapIn">
		<wsdl:part name="parameters" element="tns:CreateBook"/>
	</wsdl:message>
	<wsdl:message name="CreateBookSoapOut">
		<wsdl:part name="parameters" element="tns:CreateBookResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateBookSoapIn">
		<wsdl:part name="parameters" element="tns:UpdateBook"/>
	</wsdl:message>
	<wsdl:message name="UpdateBookSoapOut">
		<wsdl:part name="parameters" element="tns:UpdateBookResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteBookSoapIn">
		<wsdl:part name="parameters" element="tns:DeleteBook"/>
	</wsdl:message>
	<wsdl:message name="DeleteBookSoapOut">
		<wsdl:part name="parameters" element="tns:DeleteBookResponse"/>
	</wsdl:message>
	<wsdl:portType name="BookStoreServiceSoap">
		<wsdl:operation name="GetAllBooks">
			<wsdl:input message="tns:GetAllBooksSoapIn"/>
			<wsdl:output message="tns:GetAllBooksSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetBook">
			<wsdl:input message="tns:GetBookSoapIn"/>
			<wsdl:output message="tns:GetBookSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetBookByName">
			<wsdl:input message="tns:GetBookByNameSoapIn"/>
			<wsdl:output message="tns:GetBookByNameSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetBookByPublisher">
			<wsdl:input message="tns:GetBookByPublisherSoapIn"/>
			<wsdl:output message="tns:GetBookByPublisherSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetBookByAuthor">
			<wsdl:input message="tns:GetBookByAuthorSoapIn"/>
			<wsdl:output message="tns:GetBookByAuthorSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="CreateBook">
			<wsdl:input message="tns:CreateBookSoapIn"/>
			<wsdl:output message="tns:CreateBookSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateBook">
			<wsdl:input message="tns:UpdateBookSoapIn"/>
			<wsdl:output message="tns:UpdateBookSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteBook">
			<wsdl:input message="tns:DeleteBookSoapIn"/>
			<wsdl:output message="tns:DeleteBookSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BookStoreServiceSoap" type="tns:BookStoreServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetAllBooks">
			<soap:operation soapAction="http://mybookstore.com/GetAllBooks" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBook">
			<soap:operation soapAction="http://mybookstore.com/GetBook" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBookByName">
			<soap:operation soapAction="http://mybookstore.com/GetBookByName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBookByPublisher">
			<soap:operation soapAction="http://mybookstore.com/GetBookByPublisher" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBookByAuthor">
			<soap:operation soapAction="http://mybookstore.com/GetBookByAuthor" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateBook">
			<soap:operation soapAction="http://mybookstore.com/CreateBook" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateBook">
			<soap:operation soapAction="http://mybookstore.com/UpdateBook" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteBook">
			<soap:operation soapAction="http://mybookstore.com/DeleteBook" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BookStoreServiceSoap12" type="tns:BookStoreServiceSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetAllBooks">
			<soap12:operation soapAction="http://mybookstore.com/GetAllBooks" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBook">
			<soap12:operation soapAction="http://mybookstore.com/GetBook" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBookByName">
			<soap12:operation soapAction="http://mybookstore.com/GetBookByName" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBookByPublisher">
			<soap12:operation soapAction="http://mybookstore.com/GetBookByPublisher" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBookByAuthor">
			<soap12:operation soapAction="http://mybookstore.com/GetBookByAuthor" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateBook">
			<soap12:operation soapAction="http://mybookstore.com/CreateBook" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateBook">
			<soap12:operation soapAction="http://mybookstore.com/UpdateBook" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteBook">
			<soap12:operation soapAction="http://mybookstore.com/DeleteBook" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BookStoreService">
		<wsdl:port name="BookStoreServiceSoap" binding="tns:BookStoreServiceSoap">
			<soap:address location="https://localhost:44307/BookStoreService.asmx"/>
		</wsdl:port>
		<wsdl:port name="BookStoreServiceSoap12" binding="tns:BookStoreServiceSoap12">
			<soap12:address location="https://localhost:44307/BookStoreService.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>