BookStoreService2.0.wsdl

<description xmlns="http://www.w3.org/ns/wsdl"
             xmlns:tns="http://mybookstore.com/"
             targetNamespace="http://mybookstore.com/">
    <!--

      Documentation at:
      http://esw.w3.org/topic/WsdlConverter

      To report problems, please refer to:
      http://esw.w3.org/topic/WsdlConverterFeedback

      Generated by the WSDL converter version:
      2006-02-20
      
    -->
    <types>
      <s:schema xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:s="http://www.w3.org/2001/XMLSchema"
                xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                elementFormDefault="qualified"
                targetNamespace="http://mybookstore.com/">
         <s:element name="GetAllBooks">
            <s:complexType/>
         </s:element>
         <s:element name="GetAllBooksResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetAllBooksResult"
                             type="tns:ArrayOfBook"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfBook">
            <s:sequence>
               <s:element minOccurs="0"
                          maxOccurs="unbounded"
                          name="Book"
                          nillable="true"
                          type="tns:Book"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Book">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseEntity">
                  <s:sequence>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Author"
                                type="tns:ArrayOfAuthor"/>
                     <s:element minOccurs="1"
                                maxOccurs="1"
                                name="BookType"
                                type="tns:BookTypeEnum"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Category" type="tns:Category"/>
                     <s:element minOccurs="1" maxOccurs="1" name="Edition" type="s:int"/>
                     <s:element minOccurs="1" maxOccurs="1" name="ISBN" type="s:int"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string"/>
                     <s:element minOccurs="1" maxOccurs="1" name="Name" type="s:int"/>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Publisher"
                                type="tns:Publisher"/>
                     <s:element minOccurs="1" maxOccurs="1" name="Size" type="tns:SizeEnum"/>
                     <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="BaseEntity">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Publisher">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseEntity">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="Category">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseEntity">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="Author">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseEntity">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="ArrayOfAuthor">
            <s:sequence>
               <s:element minOccurs="0"
                          maxOccurs="unbounded"
                          name="Author"
                          nillable="true"
                          type="tns:Author"/>
            </s:sequence>
         </s:complexType>
         <s:simpleType name="BookTypeEnum">
            <s:restriction base="s:string">
               <s:enumeration value="HardCover"/>
               <s:enumeration value="PaperBack"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="SizeEnum">
            <s:restriction base="s:string">
               <s:enumeration value="VeryLarge"/>
               <s:enumeration value="Large"/>
               <s:enumeration value="Medium"/>
               <s:enumeration value="Small"/>
               <s:enumeration value="VerySmall"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="GetBook">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="bookId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBookResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetBookResult"
                             type="tns:Book"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBookByName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="bookName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBookByNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetBookByNameResult"
                             type="tns:ArrayOfBook"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBookByPublisher">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="publisherName"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBookByPublisherResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetBookByPublisherResult"
                             type="tns:ArrayOfBook"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBookByAuthor">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="authorName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBookByAuthorResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetBookByAuthorResult"
                             type="tns:ArrayOfBook"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateBook">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="book" type="tns:Book"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateBookResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="CreateBookResult"
                             type="tns:Book"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateBook">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="book" type="tns:Book"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateBookResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="UpdateBookResult"
                             type="tns:Book"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteBook">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="bookId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteBookResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="DeleteBookResult"
                             type="tns:Book"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
   </types>
   <interface name="BookStoreServiceSoap">
      <operation name="GetAllBooks" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetAllBooks"/>
         <output element="tns:GetAllBooksResponse"/>
      </operation>
      <operation name="GetBook" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetBook"/>
         <output element="tns:GetBookResponse"/>
      </operation>
      <operation name="GetBookByName" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetBookByName"/>
         <output element="tns:GetBookByNameResponse"/>
      </operation>
      <operation name="GetBookByPublisher" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetBookByPublisher"/>
         <output element="tns:GetBookByPublisherResponse"/>
      </operation>
      <operation name="GetBookByAuthor" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetBookByAuthor"/>
         <output element="tns:GetBookByAuthorResponse"/>
      </operation>
      <operation name="CreateBook" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:CreateBook"/>
         <output element="tns:CreateBookResponse"/>
      </operation>
      <operation name="UpdateBook" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:UpdateBook"/>
         <output element="tns:UpdateBookResponse"/>
      </operation>
      <operation name="DeleteBook" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:DeleteBook"/>
         <output element="tns:DeleteBookResponse"/>
      </operation>
   </interface>
   <binding xmlns:wsoap="http://www.w3.org/ns/wsdl/soap"
            name="BookStoreServiceSoap"
            interface="tns:BookStoreServiceSoap"
            type="http://www.w3.org/ns/wsdl/soap"
            wsoap:version="1.1"
            wsoap:protocol="http://www.w3.org/2006/01/soap11/bindings/HTTP/">
      <operation ref="tns:GetAllBooks"
                 wsoap:soapAction="http://mybookstore.com/GetAllBooks"/>
      <operation ref="tns:GetBook" wsoap:soapAction="http://mybookstore.com/GetBook"/>
      <operation ref="tns:GetBookByName"
                 wsoap:soapAction="http://mybookstore.com/GetBookByName"/>
      <operation ref="tns:GetBookByPublisher"
                 wsoap:soapAction="http://mybookstore.com/GetBookByPublisher"/>
      <operation ref="tns:GetBookByAuthor"
                 wsoap:soapAction="http://mybookstore.com/GetBookByAuthor"/>
      <operation ref="tns:CreateBook"
                 wsoap:soapAction="http://mybookstore.com/CreateBook"/>
      <operation ref="tns:UpdateBook"
                 wsoap:soapAction="http://mybookstore.com/UpdateBook"/>
      <operation ref="tns:DeleteBook"
                 wsoap:soapAction="http://mybookstore.com/DeleteBook"/>
   </binding>
   <binding name="BookStoreServiceSoap12" interface="tns:BookStoreServiceSoap">
      <soap12:binding xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                      xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                      xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                      xmlns:s="http://www.w3.org/2001/XMLSchema"
                      xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                      xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                      xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation ref="tns:GetAllBooks"/>
      <operation ref="tns:GetBook"/>
      <operation ref="tns:GetBookByName"/>
      <operation ref="tns:GetBookByPublisher"/>
      <operation ref="tns:GetBookByAuthor"/>
      <operation ref="tns:CreateBook"/>
      <operation ref="tns:UpdateBook"/>
      <operation ref="tns:DeleteBook"/>
   </binding>
   <service name="BookStoreService" interface="tns:BookStoreServiceSoap">
      <endpoint name="BookStoreServiceSoap"
                binding="tns:BookStoreServiceSoap"
                address="https://localhost:44307/BookStoreService.asmx"/>
      <endpoint name="BookStoreServiceSoap12" binding="tns:BookStoreServiceSoap12"/>
   </service>
</description>
