BookStoreService_1operation2.0_simplified.wsdl

<description xmlns="http://www.w3.org/ns/wsdl"
             xmlns:tns="http://mybookstore.com/"
             targetNamespace="http://mybookstore.com/">
    <!--

      Documentation at:
      http://esw.w3.org/topic/WsdlConverter

      To report problems, please refer to:
      http://esw.w3.org/topic/WsdlConverterFeedback

      Generated by the WSDL converter version:
      2006-02-20
      
    -->
    <types>
      <s:schema xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:s="http://www.w3.org/2001/XMLSchema"
                xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                elementFormDefault="qualified"
                targetNamespace="http://mybookstore.com/">
         <s:element name="GetAllBooks">
            <s:complexType/>
         </s:element>
         <s:element name="GetAllBooksResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetAllBooksResult"
                             type="tns:ArrayOfBook"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfBook">
            <s:sequence>
               <s:element minOccurs="0"
                          maxOccurs="unbounded"
                          name="Book"
                          nillable="true"
                          type="tns:Book"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Book">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseEntity">
                  <s:sequence>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Author"
                                type="tns:ArrayOfAuthor"/>
                     <s:element minOccurs="1" maxOccurs="1" name="Edition" type="s:int"/>
                     <s:element minOccurs="1" maxOccurs="1" name="Name" type="s:int"/>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Publisher"
                                type="tns:Publisher"/>
                     <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="BaseEntity">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Publisher">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseEntity">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="Author">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseEntity">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="ArrayOfAuthor">
            <s:sequence>
               <s:element minOccurs="0"
                          maxOccurs="unbounded"
                          name="Author"
                          nillable="true"
                          type="tns:Author"/>
            </s:sequence>
         </s:complexType>
         <s:simpleType name="BookTypeEnum">
            <s:restriction base="s:string">
               <s:enumeration value="HardCover"/>
               <s:enumeration value="PaperBack"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="SizeEnum">
            <s:restriction base="s:string">
               <s:enumeration value="VeryLarge"/>
               <s:enumeration value="Large"/>
               <s:enumeration value="Medium"/>
               <s:enumeration value="Small"/>
               <s:enumeration value="VerySmall"/>
            </s:restriction>
         </s:simpleType>
      </s:schema>
   </types>
   <interface name="BookStoreService">
      <operation name="GetAllBooks" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetAllBooks"/>
         <output element="tns:GetAllBooksResponse"/>
      </operation>
   </interface>
   <binding xmlns:wsoap="http://www.w3.org/ns/wsdl/soap"
            name="BookStoreService_1operationSoap"
            interface="tns:BookStoreService_1operationSoap"
            type="http://www.w3.org/ns/wsdl/soap"
            wsoap:version="1.1"
            wsoap:protocol="http://www.w3.org/2006/01/soap11/bindings/HTTP/">
      <operation ref="tns:GetAllBooks"
                 wsoap:soapAction="http://mybookstore.com/GetAllBooks"/>
   </binding>
   <binding name="BookStoreService_1operationSoap12"
            interface="tns:BookStoreService_1operationSoap">
      <soap12:binding xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                      xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                      xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                      xmlns:s="http://www.w3.org/2001/XMLSchema"
                      xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                      xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                      xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation ref="tns:GetAllBooks"/>
   </binding>
   <service name="BookStoreService_1operation"
            interface="tns:BookStoreService_1operationSoap">
      <endpoint name="BookStoreService_1operationSoap"
                binding="tns:BookStoreService_1operationSoap"
                address="https://localhost:44307/BookStoreService_1operation.asmx"/>
      <endpoint name="BookStoreService_1operationSoap12"
                binding="tns:BookStoreService_1operationSoap12"/>
   </service>
</description>
