GenericWebService2.0_2operations.wsdl

<description xmlns="http://www.w3.org/ns/wsdl"
             xmlns:tns="http://tempuri.org/"
             targetNamespace="http://tempuri.org/">
    <!--

      Documentation at:
      http://esw.w3.org/topic/WsdlConverter

      To report problems, please refer to:
      http://esw.w3.org/topic/WsdlConverterFeedback

      Generated by the WSDL converter version:
      2006-02-20
      
    -->
    <types>
      <s:schema xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:s="http://www.w3.org/2001/XMLSchema"
                xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                elementFormDefault="qualified"
                targetNamespace="http://tempuri.org/">
         <s:element name="MyMethodA">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="paramA1" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="paramA2" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="MyMethodResponseA">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="MyMethodResultA"
                             type="tns:MyClassA"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="MyClassA">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="MyPropertyA1" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="MyPropertyA2" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="MyPropertyA3" type="s:decimal"/>
               <s:element minOccurs="0" maxOccurs="1" name="MyPropertyA4" type="s:string"/>
               <s:element minOccurs="1"
                          maxOccurs="1"
                          name="MyPropertyA5"
                          type="s:dateTime"/>
               <s:element minOccurs="0"
                          maxOccurs="1"
                          name="MyPropertyA6"
                          type="tns:MyNestedClassA"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="MyNestedClassA">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="MyPropertyA7" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="MyPropertyA8" type="s:string"/>
            </s:sequence>
         </s:complexType>
		 <s:element name="MyMethodB">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="paramB1" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="paramB2" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
		 <s:element name="MyMethodResponseB">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="MyMethodResultB"
                             type="tns:MyClassB"/>
               </s:sequence>
            </s:complexType>
         </s:element>
		 <s:complexType name="MyClassB">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="MyPropertyB1" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="MyPropertyB2" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
   </types>
   <interface name="MyWebService">
      <operation name="MyMethodA" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:MyMethodA"/>
         <output element="tns:MyMethodResponseA"/>
      </operation>
	  <operation name="MyMethodB" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:MyMethodB"/>
         <output element="tns:MyMethodResponseB"/>
      </operation>
   </interface>
   <binding xmlns:wsoap="http://www.w3.org/ns/wsdl/soap"
            name="MyWebService"
            interface="tns:MyWebService"
            type="http://www.w3.org/ns/wsdl/soap"
            wsoap:version="1.1"
            wsoap:protocol="http://www.w3.org/2006/01/soap11/bindings/HTTP/">
      <operation ref="tns:MyMethodA" wsoap:soapAction="http://tempuri.org/MyMethodA"/>
      <operation ref="tns:MyMethodB" wsoap:soapAction="http://tempuri.org/MyMethodB"/>
   </binding>
   <binding name="MyWebService12" interface="tns:MyWebService">
      <soap12:binding xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                      xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                      xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                      xmlns:s="http://www.w3.org/2001/XMLSchema"
                      xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                      xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                      xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation ref="tns:MyMethodA"/>
      <operation ref="tns:MyMethodB"/>
   </binding>
   <service name="WebService1" interface="tns:MyWebService">
      <endpoint name="MyWebService"
                binding="tns:MyWebService"
                address="http://localhost:63903/WebService1.asmx"/>
      <endpoint name="MyWebService12" binding="tns:MyWebService12"/>
   </service>
</description>
