GenericWebService2.0.wsdl

<description xmlns="http://www.w3.org/ns/wsdl"
             xmlns:tns="http://tempuri.org/"
             targetNamespace="http://tempuri.org/">
    <!--

      Documentation at:
      http://esw.w3.org/topic/WsdlConverter

      To report problems, please refer to:
      http://esw.w3.org/topic/WsdlConverterFeedback

      Generated by the WSDL converter version:
      2006-02-20
      
    -->
    <types>
      <s:schema xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:s="http://www.w3.org/2001/XMLSchema"
                xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                elementFormDefault="qualified"
                targetNamespace="http://tempuri.org/">
         <s:element name="MyMethod">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="param1" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="param2" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="MyMethodResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="MyMethodResult"
                             type="tns:MyClass"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="MyClass">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="MyProperty1" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="MyProperty2" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="MyProperty3" type="s:decimal"/>
               <s:element minOccurs="0" maxOccurs="1" name="MyProperty4" type="s:string"/>
               <s:element minOccurs="1"
                          maxOccurs="1"
                          name="MyProperty5"
                          type="s:dateTime"/>
               <s:element minOccurs="0"
                          maxOccurs="1"
                          name="MyProperty6"
                          type="tns:MyNestedClass"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="MyNestedClass">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="MyProperty7" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="MyProperty8" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
   </types>
   <interface name="WebService1Soap">
      <operation name="MyMethod" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:MyMethod"/>
         <output element="tns:MyMethodResponse"/>
      </operation>
   </interface>
   <binding xmlns:wsoap="http://www.w3.org/ns/wsdl/soap"
            name="WebService1Soap"
            interface="tns:WebService1Soap"
            type="http://www.w3.org/ns/wsdl/soap"
            wsoap:version="1.1"
            wsoap:protocol="http://www.w3.org/2006/01/soap11/bindings/HTTP/">
      <operation ref="tns:MyMethod" wsoap:soapAction="http://tempuri.org/MyMethod"/>
   </binding>
   <binding name="WebService1Soap12" interface="tns:WebService1Soap">
      <soap12:binding xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                      xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                      xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                      xmlns:s="http://www.w3.org/2001/XMLSchema"
                      xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                      xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                      xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation ref="tns:MyMethod"/>
   </binding>
   <service name="WebService1" interface="tns:WebService1Soap">
      <endpoint name="WebService1Soap"
                binding="tns:WebService1Soap"
                address="http://localhost:63903/WebService1.asmx"/>
      <endpoint name="WebService1Soap12" binding="tns:WebService1Soap12"/>
   </service>
</description>
