GenericWebService1.1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MyMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="param1" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="param2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MyMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MyMethodResult" type="tns:MyClass" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MyClass">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MyProperty1" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MyProperty2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MyProperty3" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="MyProperty4" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MyProperty5" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MyProperty6" type="tns:MyNestedClass" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MyNestedClass">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MyProperty7" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MyProperty8" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MyMethodSoapIn">
    <wsdl:part name="parameters" element="tns:MyMethod" />
  </wsdl:message>
  <wsdl:message name="MyMethodSoapOut">
    <wsdl:part name="parameters" element="tns:MyMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="MyMethod">
      <wsdl:input message="tns:MyMethodSoapIn" />
      <wsdl:output message="tns:MyMethodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MyMethod">
      <soap:operation soapAction="http://tempuri.org/MyMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MyMethod">
      <soap12:operation soapAction="http://tempuri.org/MyMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:63903/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:63903/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>