MovieStoreService2.0(2).wsdl

<description xmlns="http://www.w3.org/ns/wsdl"
             xmlns:tns="http://moviestoreservice.com/"
             targetNamespace="http://moviestoreservice.com/">
    <!--

      Documentation at:
      http://esw.w3.org/topic/WsdlConverter

      To report problems, please refer to:
      http://esw.w3.org/topic/WsdlConverterFeedback

      Generated by the WSDL converter version:
      2006-02-20
      
    -->
    <types>
      <s:schema xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:s="http://www.w3.org/2001/XMLSchema"
                xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                elementFormDefault="qualified"
                targetNamespace="http://moviestoreservice.com/">
         <s:element name="GetAllMovies">
            <s:complexType/>
         </s:element>
         <s:element name="GetAllMoviesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetAllMoviesResult"
                             type="tns:ArrayOfMovie"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfMovie">
            <s:sequence>
               <s:element minOccurs="0"
                          maxOccurs="unbounded"
                          name="Movie"
                          nillable="true"
                          type="tns:Movie"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Movie">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseModel">
                  <s:sequence>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Awards"
                                type="tns:ArrayOfAward"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Cast" type="tns:ArrayOfActor"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Nationality"
                                type="tns:Country"/>
                     <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Category" type="tns:Gender"/>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Producers"
                                type="tns:ArrayOfProducer"/>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Directors"
                                type="tns:ArrayOfDirector"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="BaseModel">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Director">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseModel">
                  <s:sequence>
                     <s:element minOccurs="1"
                                maxOccurs="1"
                                name="DateOfBirth"
                                type="s:dateTime"/>
                     <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Nationality"
                                type="tns:Country"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="Country">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseModel">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="Producer">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseModel">
                  <s:sequence>
                     <s:element minOccurs="1"
                                maxOccurs="1"
                                name="DateOfBirth"
                                type="s:dateTime"/>
                     <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Nationality"
                                type="tns:Country"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="Gender">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseModel">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="Actor">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseModel">
                  <s:sequence>
                     <s:element minOccurs="1"
                                maxOccurs="1"
                                name="DateOfBirth"
                                type="s:dateTime"/>
                     <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Nationality"
                                type="tns:Country"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="Award">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseModel">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="Location" type="tns:Country"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                     <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="ArrayOfAward">
            <s:sequence>
               <s:element minOccurs="0"
                          maxOccurs="unbounded"
                          name="Award"
                          nillable="true"
                          type="tns:Award"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfActor">
            <s:sequence>
               <s:element minOccurs="0"
                          maxOccurs="unbounded"
                          name="Actor"
                          nillable="true"
                          type="tns:Actor"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfProducer">
            <s:sequence>
               <s:element minOccurs="0"
                          maxOccurs="unbounded"
                          name="Producer"
                          nillable="true"
                          type="tns:Producer"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfDirector">
            <s:sequence>
               <s:element minOccurs="0"
                          maxOccurs="unbounded"
                          name="Director"
                          nillable="true"
                          type="tns:Director"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetAllMoviesByActorName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="actorName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllMoviesByActorNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetAllMoviesByActorNameResult"
                             type="tns:ArrayOfMovie"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllMoviesByCategoryName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="categoryName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllMoviesByCategoryNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetAllMoviesByCategoryNameResult"
                             type="tns:ArrayOfMovie"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllMoviesByCountryName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="countryName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllMoviesByCountryNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetAllMoviesByCountryNameResult"
                             type="tns:ArrayOfMovie"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllMoviesByDirectorName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="directorName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllMoviesByDirectorNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetAllMoviesByDirectorNameResult"
                             type="tns:ArrayOfMovie"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAwardsByMovieName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="movieName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAwardsByMovieNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetAwardsByMovieNameResult"
                             type="tns:ArrayOfAward"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCastByMovieName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="movieName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCastByMovieNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetCastByMovieNameResult"
                             type="tns:ArrayOfActor"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMovieByMovieName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="movieName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMovieByMovieNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetMovieByMovieNameResult"
                             type="tns:Movie"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RegisterNewMovie">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="movie" type="tns:Movie"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RegisterNewMovieResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="RegisterNewMovieResult"
                             type="tns:Movie"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveMovieByName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="movieName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveMovieByNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1"
                             maxOccurs="1"
                             name="RemoveMovieByNameResult"
                             type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
   </types>
   <interface name="MovieStoreServiceSoap">
      <operation name="GetAllMovies" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetAllMovies"/>
         <output element="tns:GetAllMoviesResponse"/>
      </operation>
      <operation name="GetAllMoviesByActorName"
                 pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetAllMoviesByActorName"/>
         <output element="tns:GetAllMoviesByActorNameResponse"/>
      </operation>
      <operation name="GetAllMoviesByCategoryName"
                 pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetAllMoviesByCategoryName"/>
         <output element="tns:GetAllMoviesByCategoryNameResponse"/>
      </operation>
      <operation name="GetAllMoviesByCountryName"
                 pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetAllMoviesByCountryName"/>
         <output element="tns:GetAllMoviesByCountryNameResponse"/>
      </operation>
      <operation name="GetAllMoviesByDirectorName"
                 pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetAllMoviesByDirectorName"/>
         <output element="tns:GetAllMoviesByDirectorNameResponse"/>
      </operation>
      <operation name="GetAwardsByMovieName" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetAwardsByMovieName"/>
         <output element="tns:GetAwardsByMovieNameResponse"/>
      </operation>
      <operation name="GetCastByMovieName" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetCastByMovieName"/>
         <output element="tns:GetCastByMovieNameResponse"/>
      </operation>
      <operation name="GetMovieByMovieName" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetMovieByMovieName"/>
         <output element="tns:GetMovieByMovieNameResponse"/>
      </operation>
      <operation name="RegisterNewMovie" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:RegisterNewMovie"/>
         <output element="tns:RegisterNewMovieResponse"/>
      </operation>
      <operation name="RemoveMovieByName" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:RemoveMovieByName"/>
         <output element="tns:RemoveMovieByNameResponse"/>
      </operation>
   </interface>
   <binding xmlns:wsoap="http://www.w3.org/ns/wsdl/soap"
            name="MovieStoreServiceSoap"
            interface="tns:MovieStoreServiceSoap"
            type="http://www.w3.org/ns/wsdl/soap"
            wsoap:version="1.1"
            wsoap:protocol="http://www.w3.org/2006/01/soap11/bindings/HTTP/">
      <operation ref="tns:GetAllMovies"
                 wsoap:soapAction="http://moviestoreservice.com/GetAllMovies"/>
      <operation ref="tns:GetAllMoviesByActorName"
                 wsoap:soapAction="http://moviestoreservice.com/GetAllMoviesByActorName"/>
      <operation ref="tns:GetAllMoviesByCategoryName"
                 wsoap:soapAction="http://moviestoreservice.com/GetAllMoviesByCategoryName"/>
      <operation ref="tns:GetAllMoviesByCountryName"
                 wsoap:soapAction="http://moviestoreservice.com/GetAllMoviesByCountryName"/>
      <operation ref="tns:GetAllMoviesByDirectorName"
                 wsoap:soapAction="http://moviestoreservice.com/GetAllMoviesByDirectorName"/>
      <operation ref="tns:GetAwardsByMovieName"
                 wsoap:soapAction="http://moviestoreservice.com/GetAwardsByMovieName"/>
      <operation ref="tns:GetCastByMovieName"
                 wsoap:soapAction="http://moviestoreservice.com/GetCastByMovieName"/>
      <operation ref="tns:GetMovieByMovieName"
                 wsoap:soapAction="http://moviestoreservice.com/GetMovieByMovieName"/>
      <operation ref="tns:RegisterNewMovie"
                 wsoap:soapAction="http://moviestoreservice.com/RegisterNewMovie"/>
      <operation ref="tns:RemoveMovieByName"
                 wsoap:soapAction="http://moviestoreservice.com/RemoveMovieByName"/>
   </binding>
   <binding name="MovieStoreServiceSoap12" interface="tns:MovieStoreServiceSoap">
      <soap12:binding xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                      xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                      xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                      xmlns:s="http://www.w3.org/2001/XMLSchema"
                      xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                      xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                      xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation ref="tns:GetAllMovies"/>
      <operation ref="tns:GetAllMoviesByActorName"/>
      <operation ref="tns:GetAllMoviesByCategoryName"/>
      <operation ref="tns:GetAllMoviesByCountryName"/>
      <operation ref="tns:GetAllMoviesByDirectorName"/>
      <operation ref="tns:GetAwardsByMovieName"/>
      <operation ref="tns:GetCastByMovieName"/>
      <operation ref="tns:GetMovieByMovieName"/>
      <operation ref="tns:RegisterNewMovie"/>
      <operation ref="tns:RemoveMovieByName"/>
   </binding>
   <service name="MovieStoreService" interface="tns:MovieStoreServiceSoap">
      <endpoint name="MovieStoreServiceSoap"
                binding="tns:MovieStoreServiceSoap"
                address="https://localhost:44350/MovieStoreService.asmx"/>
      <endpoint name="MovieStoreServiceSoap12" binding="tns:MovieStoreServiceSoap12"/>
   </service>
</description>
