MovieStoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://moviestoreservice.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://moviestoreservice.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://moviestoreservice.com/">
      <s:element name="ChangeMovieCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="movieId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="categoryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeMovieCategoryResponse">
        <s:complexType />
      </s:element>
      <s:element name="ChangeMovieNationality">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="movieId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="countryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeMovieNationalityResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllAwards">
        <s:complexType />
      </s:element>
      <s:element name="GetAllAwardsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAwardsResult" type="tns:ArrayOfAward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Award" nillable="true" type="tns:Award" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Award">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Location" type="tns:Country" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Country">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetAllGenders">
        <s:complexType />
      </s:element>
      <s:element name="GetAllGendersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllGendersResult" type="tns:ArrayOfGender" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGender">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Gender" nillable="true" type="tns:Gender" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Gender">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetAllMovies">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMoviesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMoviesResult" type="tns:ArrayOfMovie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMovie">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Movie" nillable="true" type="tns:Movie" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Movie">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Awards" type="tns:ArrayOfAward" />
              <s:element minOccurs="0" maxOccurs="1" name="Cast" type="tns:ArrayOfActor" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nationality" type="tns:Country" />
              <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Category" type="tns:Gender" />
              <s:element minOccurs="0" maxOccurs="1" name="Producers" type="tns:ArrayOfProducer" />
              <s:element minOccurs="0" maxOccurs="1" name="Directors" type="tns:ArrayOfDirector" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfActor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Actor" nillable="true" type="tns:Actor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Actor">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DateOfBirth" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nationality" type="tns:Country" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfProducer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Producer" nillable="true" type="tns:Producer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Producer">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DateOfBirth" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nationality" type="tns:Country" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfDirector">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Director" nillable="true" type="tns:Director" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Director">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DateOfBirth" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nationality" type="tns:Country" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetAllMoviesByActorName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actorName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMoviesByActorNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMoviesByActorNameResult" type="tns:ArrayOfMovie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMoviesByCategoryName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMoviesByCategoryNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMoviesByCategoryNameResult" type="tns:ArrayOfMovie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMoviesByCountryName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="countryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMoviesByCountryNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMoviesByCountryNameResult" type="tns:ArrayOfMovie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMoviesByDirectorName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="directorName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMoviesByDirectorNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMoviesByDirectorNameResult" type="tns:ArrayOfMovie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMoviesByGenderName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="genderName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMoviesByGenderNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMoviesByGenderNameResult" type="tns:ArrayOfMovie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMoviesByProducerName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="producerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMoviesByProducerNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMoviesByProducerNameResult" type="tns:ArrayOfMovie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAwardsByMovie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="movieId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAwardsByMovieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAwardsByMovieResult" type="tns:ArrayOfAward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCastByMovie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="movieId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCastByMovieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCastByMovieResult" type="tns:ArrayOfActor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMovie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="movieId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMovieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMovieResult" type="tns:Movie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMovieByMovieName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="movieName" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMovieByMovieNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMovieByMovieNameResult" type="tns:Movie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterNewMovie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="movie" type="tns:Movie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterNewMovieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterNewMovieResult" type="tns:Movie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveMovie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="movieId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveMovieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveMovieResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMovie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="movieId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="movie" type="tns:Movie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMovieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateMovieResult" type="tns:Movie" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChangeMovieCategorySoapIn">
    <wsdl:part name="parameters" element="tns:ChangeMovieCategory" />
  </wsdl:message>
  <wsdl:message name="ChangeMovieCategorySoapOut">
    <wsdl:part name="parameters" element="tns:ChangeMovieCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeMovieNationalitySoapIn">
    <wsdl:part name="parameters" element="tns:ChangeMovieNationality" />
  </wsdl:message>
  <wsdl:message name="ChangeMovieNationalitySoapOut">
    <wsdl:part name="parameters" element="tns:ChangeMovieNationalityResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAwardsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAwards" />
  </wsdl:message>
  <wsdl:message name="GetAllAwardsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAwardsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllGendersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllGenders" />
  </wsdl:message>
  <wsdl:message name="GetAllGendersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllGendersResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMoviesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMovies" />
  </wsdl:message>
  <wsdl:message name="GetAllMoviesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMoviesByActorNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByActorName" />
  </wsdl:message>
  <wsdl:message name="GetAllMoviesByActorNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByActorNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMoviesByCategoryNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByCategoryName" />
  </wsdl:message>
  <wsdl:message name="GetAllMoviesByCategoryNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByCategoryNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMoviesByCountryNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByCountryName" />
  </wsdl:message>
  <wsdl:message name="GetAllMoviesByCountryNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByCountryNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMoviesByDirectorNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByDirectorName" />
  </wsdl:message>
  <wsdl:message name="GetAllMoviesByDirectorNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByDirectorNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMoviesByGenderNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByGenderName" />
  </wsdl:message>
  <wsdl:message name="GetAllMoviesByGenderNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByGenderNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMoviesByProducerNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByProducerName" />
  </wsdl:message>
  <wsdl:message name="GetAllMoviesByProducerNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByProducerNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetAwardsByMovieSoapIn">
    <wsdl:part name="parameters" element="tns:GetAwardsByMovie" />
  </wsdl:message>
  <wsdl:message name="GetAwardsByMovieSoapOut">
    <wsdl:part name="parameters" element="tns:GetAwardsByMovieResponse" />
  </wsdl:message>
  <wsdl:message name="GetCastByMovieSoapIn">
    <wsdl:part name="parameters" element="tns:GetCastByMovie" />
  </wsdl:message>
  <wsdl:message name="GetCastByMovieSoapOut">
    <wsdl:part name="parameters" element="tns:GetCastByMovieResponse" />
  </wsdl:message>
  <wsdl:message name="GetMovieSoapIn">
    <wsdl:part name="parameters" element="tns:GetMovie" />
  </wsdl:message>
  <wsdl:message name="GetMovieSoapOut">
    <wsdl:part name="parameters" element="tns:GetMovieResponse" />
  </wsdl:message>
  <wsdl:message name="GetMovieByMovieNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetMovieByMovieName" />
  </wsdl:message>
  <wsdl:message name="GetMovieByMovieNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetMovieByMovieNameResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterNewMovieSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterNewMovie" />
  </wsdl:message>
  <wsdl:message name="RegisterNewMovieSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterNewMovieResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveMovieSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveMovie" />
  </wsdl:message>
  <wsdl:message name="RemoveMovieSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveMovieResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMovieSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMovie" />
  </wsdl:message>
  <wsdl:message name="UpdateMovieSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMovieResponse" />
  </wsdl:message>
  <wsdl:portType name="MovieStoreServiceSoap">
    <wsdl:operation name="ChangeMovieCategory">
      <wsdl:input message="tns:ChangeMovieCategorySoapIn" />
      <wsdl:output message="tns:ChangeMovieCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeMovieNationality">
      <wsdl:input message="tns:ChangeMovieNationalitySoapIn" />
      <wsdl:output message="tns:ChangeMovieNationalitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAwards">
      <wsdl:input message="tns:GetAllAwardsSoapIn" />
      <wsdl:output message="tns:GetAllAwardsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGenders">
      <wsdl:input message="tns:GetAllGendersSoapIn" />
      <wsdl:output message="tns:GetAllGendersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMovies">
      <wsdl:input message="tns:GetAllMoviesSoapIn" />
      <wsdl:output message="tns:GetAllMoviesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByActorName">
      <wsdl:input message="tns:GetAllMoviesByActorNameSoapIn" />
      <wsdl:output message="tns:GetAllMoviesByActorNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByCategoryName">
      <wsdl:input message="tns:GetAllMoviesByCategoryNameSoapIn" />
      <wsdl:output message="tns:GetAllMoviesByCategoryNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByCountryName">
      <wsdl:input message="tns:GetAllMoviesByCountryNameSoapIn" />
      <wsdl:output message="tns:GetAllMoviesByCountryNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByDirectorName">
      <wsdl:input message="tns:GetAllMoviesByDirectorNameSoapIn" />
      <wsdl:output message="tns:GetAllMoviesByDirectorNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByGenderName">
      <wsdl:input message="tns:GetAllMoviesByGenderNameSoapIn" />
      <wsdl:output message="tns:GetAllMoviesByGenderNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByProducerName">
      <wsdl:input message="tns:GetAllMoviesByProducerNameSoapIn" />
      <wsdl:output message="tns:GetAllMoviesByProducerNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAwardsByMovie">
      <wsdl:input message="tns:GetAwardsByMovieSoapIn" />
      <wsdl:output message="tns:GetAwardsByMovieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCastByMovie">
      <wsdl:input message="tns:GetCastByMovieSoapIn" />
      <wsdl:output message="tns:GetCastByMovieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMovie">
      <wsdl:input message="tns:GetMovieSoapIn" />
      <wsdl:output message="tns:GetMovieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMovieByMovieName">
      <wsdl:input message="tns:GetMovieByMovieNameSoapIn" />
      <wsdl:output message="tns:GetMovieByMovieNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNewMovie">
      <wsdl:input message="tns:RegisterNewMovieSoapIn" />
      <wsdl:output message="tns:RegisterNewMovieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMovie">
      <wsdl:input message="tns:RemoveMovieSoapIn" />
      <wsdl:output message="tns:RemoveMovieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <wsdl:input message="tns:UpdateMovieSoapIn" />
      <wsdl:output message="tns:UpdateMovieSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MovieStoreServiceSoap" type="tns:MovieStoreServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeMovieCategory">
      <soap:operation soapAction="http://moviestoreservice.com/ChangeMovieCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeMovieNationality">
      <soap:operation soapAction="http://moviestoreservice.com/ChangeMovieNationality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAwards">
      <soap:operation soapAction="http://moviestoreservice.com/GetAllAwards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGenders">
      <soap:operation soapAction="http://moviestoreservice.com/GetAllGenders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMovies">
      <soap:operation soapAction="http://moviestoreservice.com/GetAllMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByActorName">
      <soap:operation soapAction="http://moviestoreservice.com/GetAllMoviesByActorName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByCategoryName">
      <soap:operation soapAction="http://moviestoreservice.com/GetAllMoviesByCategoryName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByCountryName">
      <soap:operation soapAction="http://moviestoreservice.com/GetAllMoviesByCountryName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByDirectorName">
      <soap:operation soapAction="http://moviestoreservice.com/GetAllMoviesByDirectorName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByGenderName">
      <soap:operation soapAction="http://moviestoreservice.com/GetAllMoviesByGenderName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByProducerName">
      <soap:operation soapAction="http://moviestoreservice.com/GetAllMoviesByProducerName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAwardsByMovie">
      <soap:operation soapAction="http://moviestoreservice.com/GetAwardsByMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCastByMovie">
      <soap:operation soapAction="http://moviestoreservice.com/GetCastByMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovie">
      <soap:operation soapAction="http://moviestoreservice.com/GetMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieByMovieName">
      <soap:operation soapAction="http://moviestoreservice.com/GetMovieByMovieName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewMovie">
      <soap:operation soapAction="http://moviestoreservice.com/RegisterNewMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMovie">
      <soap:operation soapAction="http://moviestoreservice.com/RemoveMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <soap:operation soapAction="http://moviestoreservice.com/UpdateMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MovieStoreServiceSoap12" type="tns:MovieStoreServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeMovieCategory">
      <soap12:operation soapAction="http://moviestoreservice.com/ChangeMovieCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeMovieNationality">
      <soap12:operation soapAction="http://moviestoreservice.com/ChangeMovieNationality" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAwards">
      <soap12:operation soapAction="http://moviestoreservice.com/GetAllAwards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGenders">
      <soap12:operation soapAction="http://moviestoreservice.com/GetAllGenders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMovies">
      <soap12:operation soapAction="http://moviestoreservice.com/GetAllMovies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByActorName">
      <soap12:operation soapAction="http://moviestoreservice.com/GetAllMoviesByActorName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByCategoryName">
      <soap12:operation soapAction="http://moviestoreservice.com/GetAllMoviesByCategoryName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByCountryName">
      <soap12:operation soapAction="http://moviestoreservice.com/GetAllMoviesByCountryName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByDirectorName">
      <soap12:operation soapAction="http://moviestoreservice.com/GetAllMoviesByDirectorName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByGenderName">
      <soap12:operation soapAction="http://moviestoreservice.com/GetAllMoviesByGenderName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByProducerName">
      <soap12:operation soapAction="http://moviestoreservice.com/GetAllMoviesByProducerName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAwardsByMovie">
      <soap12:operation soapAction="http://moviestoreservice.com/GetAwardsByMovie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCastByMovie">
      <soap12:operation soapAction="http://moviestoreservice.com/GetCastByMovie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovie">
      <soap12:operation soapAction="http://moviestoreservice.com/GetMovie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieByMovieName">
      <soap12:operation soapAction="http://moviestoreservice.com/GetMovieByMovieName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewMovie">
      <soap12:operation soapAction="http://moviestoreservice.com/RegisterNewMovie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMovie">
      <soap12:operation soapAction="http://moviestoreservice.com/RemoveMovie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <soap12:operation soapAction="http://moviestoreservice.com/UpdateMovie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieStoreService">
    <wsdl:port name="MovieStoreServiceSoap" binding="tns:MovieStoreServiceSoap">
      <soap:address location="https://localhost:44350/MovieStoreService.asmx" />
    </wsdl:port>
    <wsdl:port name="MovieStoreServiceSoap12" binding="tns:MovieStoreServiceSoap12">
      <soap12:address location="https://localhost:44350/MovieStoreService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>