MovieStoreService2.0.wsdl

<description xmlns="http://www.w3.org/ns/wsdl"
             xmlns:tns="http://moviestoreservice.com/"
             targetNamespace="http://moviestoreservice.com/">
    <!--

      Documentation at:
      http://esw.w3.org/topic/WsdlConverter

      To report problems, please refer to:
      http://esw.w3.org/topic/WsdlConverterFeedback

      Generated by the WSDL converter version:
      2006-02-20
      
    -->
    <types>
      <s:schema xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:s="http://www.w3.org/2001/XMLSchema"
                xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                elementFormDefault="qualified"
                targetNamespace="http://moviestoreservice.com/">
         <s:element name="GetAllMovies">
            <s:complexType/>
         </s:element>
         <s:element name="GetAllMoviesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetAllMoviesResult"
                             type="tns:ArrayOfMovie"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfMovie">
            <s:sequence>
               <s:element minOccurs="0"
                          maxOccurs="unbounded"
                          name="Movie"
                          nillable="true"
                          type="tns:Movie"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Movie">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseModel">
                  <s:sequence>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Awards"
                                type="tns:ArrayOfAward"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Cast" type="tns:ArrayOfActor"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Nationality"
                                type="tns:Country"/>
                     <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Category" type="tns:Genre"/>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Producers"
                                type="tns:ArrayOfProducer"/>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Directors"
                                type="tns:ArrayOfDirector"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="BaseModel">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Director">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseModel">
                  <s:sequence>
                     <s:element minOccurs="1"
                                maxOccurs="1"
                                name="DateOfBirth"
                                type="s:dateTime"/>
                     <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Nationality"
                                type="tns:Country"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="Country">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseModel">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="Producer">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseModel">
                  <s:sequence>
                     <s:element minOccurs="1"
                                maxOccurs="1"
                                name="DateOfBirth"
                                type="s:dateTime"/>
                     <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Nationality"
                                type="tns:Country"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="Genre">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseModel">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="Actor">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseModel">
                  <s:sequence>
                     <s:element minOccurs="1"
                                maxOccurs="1"
                                name="DateOfBirth"
                                type="s:dateTime"/>
                     <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                     <s:element minOccurs="0"
                                maxOccurs="1"
                                name="Nationality"
                                type="tns:Country"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="Award">
            <s:complexContent mixed="false">
               <s:extension base="tns:BaseModel">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="Location" type="tns:Country"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                     <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="ArrayOfAward">
            <s:sequence>
               <s:element minOccurs="0"
                          maxOccurs="unbounded"
                          name="Award"
                          nillable="true"
                          type="tns:Award"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfActor">
            <s:sequence>
               <s:element minOccurs="0"
                          maxOccurs="unbounded"
                          name="Actor"
                          nillable="true"
                          type="tns:Actor"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfProducer">
            <s:sequence>
               <s:element minOccurs="0"
                          maxOccurs="unbounded"
                          name="Producer"
                          nillable="true"
                          type="tns:Producer"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfDirector">
            <s:sequence>
               <s:element minOccurs="0"
                          maxOccurs="unbounded"
                          name="Director"
                          nillable="true"
                          type="tns:Director"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetAllMoviesByGenre">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllMoviesByGenreResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetAllMoviesByGenreResult"
                             type="tns:ArrayOfMovie"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAwardsByMovie">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="movie" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAwardsByMovieResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetAwardsByMovieResult"
                             type="tns:ArrayOfAward"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCastByMovie">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="movie" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCastByMovieResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="GetCastByMovieResult"
                             type="tns:ArrayOfActor"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RegisterNewMovie">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="movie" type="tns:Movie"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RegisterNewMovieResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0"
                             maxOccurs="1"
                             name="RegisterNewMovieResult"
                             type="tns:Movie"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveMovie">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="movie" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveMovieResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1"
                             maxOccurs="1"
                             name="RemoveMovieResult"
                             type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
   </types>
   <interface name="MovieStoreServiceSoap">
      <operation name="GetAllMovies" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetAllMovies"/>
         <output element="tns:GetAllMoviesResponse"/>
      </operation>
      <operation name="GetAllMoviesByGenre" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetAllMoviesByGenre"/>
         <output element="tns:GetAllMoviesByGenreResponse"/>
      </operation>
      <operation name="GetAwardsByMovie" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetAwardsByMovie"/>
         <output element="tns:GetAwardsByMovieResponse"/>
      </operation>
      <operation name="GetCastByMovie" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:GetCastByMovie"/>
         <output element="tns:GetCastByMovieResponse"/>
      </operation>
      <operation name="RegisterNewMovie" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:RegisterNewMovie"/>
         <output element="tns:RegisterNewMovieResponse"/>
      </operation>
      <operation name="RemoveMovie" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:RemoveMovie"/>
         <output element="tns:RemoveMovieResponse"/>
      </operation>
   </interface>
   <binding xmlns:wsoap="http://www.w3.org/ns/wsdl/soap"
            name="MovieStoreServiceSoap"
            interface="tns:MovieStoreServiceSoap"
            type="http://www.w3.org/ns/wsdl/soap"
            wsoap:version="1.1"
            wsoap:protocol="http://www.w3.org/2006/01/soap11/bindings/HTTP/">
      <operation ref="tns:GetAllMovies"
                 wsoap:soapAction="http://moviestoreservice.com/GetAllMovies"/>
      <operation ref="tns:GetAllMoviesByGenre"
                 wsoap:soapAction="http://moviestoreservice.com/GetAllMoviesByGenre"/>
      <operation ref="tns:GetAwardsByMovie"
                 wsoap:soapAction="http://moviestoreservice.com/GetAwardsByMovie"/>
      <operation ref="tns:GetCastByMovie"
                 wsoap:soapAction="http://moviestoreservice.com/GetCastByMovie"/>
      <operation ref="tns:RegisterNewMovie"
                 wsoap:soapAction="http://moviestoreservice.com/RegisterNewMovie"/>
      <operation ref="tns:RemoveMovie"
                 wsoap:soapAction="http://moviestoreservice.com/RemoveMovie"/>
   </binding>
   <binding name="MovieStoreServiceSoap12" interface="tns:MovieStoreServiceSoap">
      <soap12:binding xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                      xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                      xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                      xmlns:s="http://www.w3.org/2001/XMLSchema"
                      xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                      xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                      xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation ref="tns:GetAllMovies"/>
      <operation ref="tns:GetAllMoviesByGenre"/>
      <operation ref="tns:GetAwardsByMovie"/>
      <operation ref="tns:GetCastByMovie"/>
      <operation ref="tns:RegisterNewMovie"/>
      <operation ref="tns:RemoveMovie"/>
   </binding>
   <service name="MovieStoreService" interface="tns:MovieStoreServiceSoap">
      <endpoint name="MovieStoreServiceSoap"
                binding="tns:MovieStoreServiceSoap"
                address="https://localhost:44350/MovieStoreService.asmx"/>
      <endpoint name="MovieStoreServiceSoap12" binding="tns:MovieStoreServiceSoap12"/>
   </service>
</description>
